/target/
/out/

.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.factorypath
.apt_generated/

.DS_Store
Thumbs.db
*.war
*.ear

# firebase 설정 파일
/src/main/resources/firebase/ktgenius-firebase-adminsdk.json

# saml crt
/src/main/resources/saml/*.crt
/src/main/resources/saml/*.key

# env
*.env

# settings
settings-local.xml