/* web GNB */
.new2023.l-gnb {
    height: 88px;
}

.new2023.l-gnb::before {
    background: #fff !important;
    border-bottom: 1px solid #DFDFDF;
}

.new2023.l-gnb .l-logo {
    width: 83px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.new2023.l-gnb .l-menu .menu-list {
    width: initial;
    padding: 0px 40px;
}

@media (max-width: 1500px) {
    .new2023.l-gnb .l-menu .menu-list {
        padding: 0px 15px;
    }
}

.new2023.l-gnb .l-menu .menu {
    color: #2e2e2e;
    font-size: 20px;
    padding-top: 33px;
}

.new2023.l-gnb .icon::before {
    display: inline-block;
}

.new2023.l-gnb .icon {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 400;
}

.new2023.l-gnb .icon.lecture::before {
    display: inline-block;
}

.new2023.l-gnb .l-alarm .alarm-list:not(:first-child) {
    margin-left: 10px;
}

.new2023.l-gnb .l-menu .l-sub-menu-content .menu-title {
    background: #2e2e2e;
    max-width: 500px;
    width: 190px;
}

.new2023.l-gnb .l-alarm {
    display: table;
}

.new2023 .search-btn-wrap {
    display: table-cell;
    vertical-align: middle;
}

.new2023 .search-btn-wrap a.search-btn {
    display: block;
    width: 31px;
    height: 30px;
    background: url(/newPortal/icons/new22_icon_search.png) 50% 50% no-repeat;
    position: relative;
    padding: 16px 0;
    margin-right: 10px;
}

.new2023.l-gnb .l-alarm ul {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.new2023.l-gnb .l-alarm ul li {
    color: #2e2e2e;
    font-weight: 400;
}

.new2023.l-gnb .l-alarm .alarm-list {
    padding: 0;
    vertical-align: middle;
    height: auto;
}

.new2023.l-gnb .icon.lecture::before, .new2023.l-gnb.on .icon.lecture::before {
    background: url(/newPortal/icons/new22_icon_class.png) no-repeat;
}

.new2023.l-gnb .icon.user::before, .new2023.l-gnb.on .icon.user::before {
    background: url(/newPortal/icons/new22_icon_my.png) no-repeat;
}

.new2023.l-gnb .icon.logout::before, .new2023.l-gnb.on .icon.logout::before {
    background: url(/newPortal/icons/new22_icon_logout.png) no-repeat;
    margin-right: 4px;
}

.new2023.l-gnb .icon.logout {
    display: block;
    background: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 24px;
    padding: 8px 12px;
    border-radius: 30px;
    font-weight: 400;
    margin-left: 18px;
    font-size: 17px;
}

.l-gnb.on .l-menu .menu-list.on .menu::after {
    border-bottom: 3px solid #17b5af;
}

.new2023.l-gnb .l-menu .menu-1chd:after {
    display: none;
}

.new2023.l-gnb .l-menu .l-sub-menu-content {
    top: 88px;
}
