/********************
 * mobile.css - 기존 new23_m.css. 점차적으로 common.css로 web과 병합
 ********************/

@import url("mobile-gnb.css");

.ly-mo {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.ly-tb {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.ly-mp0 {
    margin: 0 -20px !important;
    padding: 0 20px !important;
}

.f-justify-between {
    justify-content: space-between;
}

.is-noscroll {
    position: fixed;
    width: 100%;
}

.pos-bottom {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px) !important;
}

@media (min-width: 768px) {
    .pos-bottom {
        width: calc(100% - 80px) !important;
    }
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.scroll-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-area::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
    -webkit-appearance: none;
}

/* 기본 셀렉트 박스 시스템 */
.select-list {
    width: 100%;
    height: 44px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D1D2D4;
    background: #FFF url(/newPortal/icons/m/select_arrow.svg) no-repeat right 10px top 50% / 12px;
}

/* 바텀시트 모달 팝업 가상엔진 설계 */
.modal-select {
    display: flex;
    align-items: center;
    height: 37px;
    line-height: 35px;
    padding: 12px 28px 12px 12px;
    border-radius: 8px;
    border: 1px solid #E6E7E8;
    position: relative;
    background-color: #fff;
    min-width: 84px;
}

.modal-select:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 5px;
    background: url(/newPortal/icons/m/ico_modal_select_arrow.svg) no-repeat;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
}

.modal-select span {
    font-size: 13px;
    color: #4c4c4c;
}

.modal-select.on {
    background-color: #f1f1f2;
}

.modal-select.on:after {
    transform: translateY(-50%) rotate(180deg);
    width: 7px;
    height: 4px;
}

.modal-select-filter {
    display: flex;
    flex-wrap: wrap;
}

.modal-select-filter .radio {
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
}

.modal-select-filter .radio input[type=radio] {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
    margin-right: 8px;
}

.modal-select-filter .radio input[type=radio]:checked {
    border-color: #FF4F55 !important;
}

.modal-select-filter .radio input[type=radio]:checked + i {
    background-color: #FF4F55 !important;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-select-filter .radio input[type=radio]:checked ~ span {
    font-weight: 500;
}

.modal-edulink-wrap {
    display: flex;
    flex-wrap: wrap;
}

.modal-edulink-wrap .link-item {
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E6E7E8;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}

.modal-edulink-wrap .link-item img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
}

.modal-edulink-wrap .link-item span {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 16px;
    color: #191919;
}

.modal-wrap .modal-body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #D1D2D4;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.03);
}

.modal-wrap .modal-header {
    margin-bottom: 20px;
    font-weight: 500;
}

.modal-wrap .modal-header p {
    font-weight: 500;
}

.modal-wrap .modal-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-wrap.alert .modal-body {
    width: 300px;
    font-size: 16px;
    padding: 20px;
}

@media (max-width: 300px) {
    .modal-wrap.alert .modal-body {
        width: 86%;
    }
}

.modal-wrap .modal-container {
    font-size: 16px;
    line-height: 24px;
}

.modal-wrap.bottomsheet.open {
    z-index: 9;
}

.modal-wrap.bottomsheet .modal-body {
    width: 100%;
    height: auto;
    border-radius: 24px 24px 0 0;
    box-shadow: 0px -1px 35px 0px rgba(0, 0, 0, 0.13);
    transform: translate(0, 0);
    position: absolute;
    left: 0;
    top: auto;
    animation: modal-flyout 0.4s;
    bottom: 63px;
    padding: 20px;
}

.modal-wrap.bottomsheet.open .modal-body {
    animation: modal-flyin 0.4s;
}

.modal-wrap.bottomsheet .modal-body::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    width: 42px;
    height: 4px;
    border-radius: 4px;
    background: #DEDEDE;
    transform: translateX(-50%);
}

.modal-wrap.full .modal-body {
    width: 100%;
    height: calc(100% - 86px);
    transform: translate(0, 0);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modal-wrap.full .modal-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 0;
}

.modal-wrap.full .modal-container {
    margin-top: 8px;
}

.modal-wrap.full .modal-x-button .close-modal {
    top: 15px;
    right: 15px;
}

.modal-wrap.full .btn-box span {
    width: 100%;
}

@keyframes modal-flyin {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-flyout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.modal-btn-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    line-height: normal;
    height: auto;
    min-width: auto;
    font-weight: normal;
    color: inherit;
    background-color: transparent;
    padding: 0 !important;
    width: 100%;
    margin-top: 20px;
}

.modal-btn-wrap .btn {
    padding: 0 10px;
    border-radius: 4px;
    background: #FFF;
    min-width: 59px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.modal-x-button .close-modal {
    background: url(/newPortal/icons/m/ico_modal_close_x.svg) no-repeat center / cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* 모바일 전용 고유 네비게이션 시스템 하단 바인딩 */
.navigation-tab-bar {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 64px;
    background: #fff;
    border-top: 1px solid #bbb;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));
}

.navigation-tab-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-tab-bar ul li {
    flex: 0 1 20%;
    display: flex;
    align-self: baseline;
    justify-content: center;
    margin-top: 13px;
}

.navigation-tab-bar ul li .navi-bottom {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.navigation-tab-bar ul li .navi-bottom span {
    font-size: 11px;
    color: #191919;
    width: 100%;
    position: absolute;
    bottom: -17px;
    text-align: center;
    left: 0;
    right: 0;
}

.navigation-tab-bar ul li .navi-bottom-back {
    background-image: url(/newPortal/icons/ico_navi_bottom_back.svg);
}

.navigation-tab-bar ul li .navi-bottom-home {
    background-image: url(/newPortal/icons/ico_navi_bottom_home.svg);
}

.navigation-tab-bar ul li .navi-bottom-menu {
    background-image: url(/newPortal/icons/ico_navi_bottom_menu.svg);
}

.navigation-tab-bar ul li .navi-bottom-link {
    background-image: url(/newPortal/icons/ico_navi_bottom_link.svg);
}

.navigation-tab-bar ul li .navi-bottom-mycourse {
    background-image: url(/newPortal/icons/ico_navi_bottom_mycourse.svg);
}

.navigation-tab-bar ul li .navi-bottom-status {
    background-image: url(/newPortal/icons/ico_navi_bottom_status.svg);
}

.navigation-tab-bar ul li .navi-bottom-participation {
    background-image: url(/newPortal/icons/ico_navi_bottom_participation.svg);
}

@media (min-width: 768px) {
    .navigation-tab-bar ul {
        padding: 0 150px;
    }
}

.navigation-tab-bar.navigation-course-type {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in-out;
    top: calc(100% - 60px);
    position: fixed;
    left: 0;
    text-align: left;
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid #E6E7E8;
    background: #FFF;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.04);
}

.navigation-course-type.open {
    bottom: 0;
    top: 18%;
}

.navigation-course-type.open .tab:not(.active) {
    color: #A6A8AB;
}

.navigation-course-type .gnb-timeline-wrap {
    position: relative;
    transform: translateX(0);
    transition: none;
    opacity: 1;
    top: 0;
    box-shadow: none;
    border-radius: 12px 12px 0 0;
}

.navigation-course-type .gnb-timeline-wrap .tabs {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding: 13px 0;
    height: 60px;
    line-height: 58px;
}

.navigation-course-type .gnb-timeline-wrap .tabs .tab {
    position: relative;
    padding: 0 20px;
    height: auto;
    border-bottom: 2px solid transparent;
    margin-top: -6px;
}

.navigation-course-type .gnb-timeline-wrap .tabs .tab + .tab::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 34px;
    background-color: #D1D2D4;
}

.navigation-course-type .gnb-timeline-wrap .tabs .tab.active {
    border-bottom: 2px solid #FE2E36;
}

.navigation-course-type:not(.player-type) .gnb-timeline-wrap .tab-content {
    height: 82%;
}

.gnb-course-toggle {
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url(/newPortal/icons/m/ico_navi_bottom_course_arrow.svg) no-repeat center / 40px 40px;
    position: absolute;
}

.gnb-course-toggle.on {
    transform: rotate(180deg);
}

/* 모바일 전용 스위치 토글 물리 버튼 */
.switch-btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    min-width: 50px;
}

.switch-btn input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 50px;
}

.switch-btn .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s cubic-bezier(0, 1, 0.5, 1);
    border-radius: 50%;
}

.switch-btn input:checked + .slider {
    background-color: #FE2E36;
}

.switch-btn input:checked + .slider:before {
    transform: translateX(20px);
}

/* 모바일 전용 대량 평가 시스템(Azure 연동 인프라) */
.exam-system-wrap .login-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #E6E7E8;
    overflow: hidden;
}

.exam-system-wrap .login-tabs {
    display: flex;
    height: 72px;
}

.exam-system-wrap .login-tabs .login-tab {
    flex: 1 0 50%;
    font-size: 18px;
    line-height: 26px;
    color: #000;
}

.exam-system-wrap .login-form {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.exam-system-wrap .login-form .is-login {
    width: 120px;
    height: 112px;
    background-color: #4B4C4D;
    color: #fff;
    border-radius: 8px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .exam-system-wrap section {
        width: 90%;
    }

    .exam-system-wrap .login-form {
        padding: 10px;
    }

    .exam-system-wrap .login-form .is-login {
        width: 70px;
        flex: 0 0 70px;
        margin-left: 12px;
    }
}